
<div class="well-sm">
    <div class="col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <th>
                    Allievi e Presenze 
                                
                </th>
            </thead>
            <tbody>

                <tr ng-repeat="day in dayTot | orderBy : 'date'">

                    <td>
                      Rachele Montepagano
                    <select>
                        <option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>
                    </select>
                    </td>
               </tr>
               <tr>    
                    <td>
                       Nicolò Crisafulli
                    <select>
                        <option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>
                    </select>
                    </td>
                 </tr>
                 <tr> 
                    <td>
                       Elisa Villa
                      <select>
                        <option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>
                      </select>
                    </td>
                 </tr>
                 <tr>
                    <td>
                       Dario Gagliano
                      <select>
                        <option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>
                     </select>
                    </td> 
                </tr>

                    <td>
                        <button class="btn btn-sm btn-info"  ng-click="showDay($index)">Modifica</button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteDay($index)">Cancella</button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
