<div class="well-sm">
    <div class="col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <th>
                    Allievi e Presenze 
                                
                </th>
            </thead>
            <tbody>

                <tr ng-repeat="pres in presTot">

                    <td>
                      {{ result.students.fullname }}
                    <select>
                        <option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>
                    </select>
                    </td>
               </tr>
               
      
            </tbody>

        </table>
        <div>
          <span class="label label-success">Presenze</span>
          <span class="label label-danger">Assenze</span>
          <span class="label label-warning">Totali</span>
        </div>
    </div>
</div>
