<div class="well-sm">
    <div class="col-md-12 col-sm-12">
        <table class="table table-bordered">
            <thead>
                <th>
                    <i class="fa fa-user"></i>
                    Allievi e Presenze 
                                
                </th>
            </thead>
            <tbody>

                <tr ng-repeat="pres in presTot">

                    <td>
                      <i class="fa fa-bars"></i>  
                      {{ pres.fullname }}
                      
                    <select ng-model="selectedValue" ng-options="item for item in presence.values" ng-change="setPresence(pres, selectedValue)">
                        <!--<option value="Pres">Pres</option>
                        <option value="Ass">Ass</option>-->
                    </select>
                    </td>
               </tr>             
      
            </tbody>

        </table>
        <div>
          <span class="label label-success">Presenti: {{presence.pres}} </span>
          <span class="label label-danger">Assenti: {{presence.ass}}</span>
          <span class="label label-warning">Totali: {{presTot.length}}</span>
        </div>
    </div>
</div>
